/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
**/.idea/workspace.xml
**/.idea/tasks.xml

/bootstrap/compiled.php
/build/logs
/build/coverage
/app/tests/_log
composer.phar
.DS_Store
/_ide_helper.php
/app/config/packages
/public/packages
.idea/laravel-plugin.xml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.idea/commandlinetools/

